body{
    background-color: #0E1225;
    color:#fff;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    height: 70px;
    width: none;
    background-color: darkslateblue;
    align-items: center;
    display: flex;
}
.up{
    height: 110px;
    background-color: wheat;
}
.main{
    width: 80%;
    display: flex;
    padding:0 10%;
    background-color: aqua;
    display: flex;
}

.lista{
    width:74% ;
    background-color: red;
}

.about{
    width:26% ;
    background-color: blue;
}