body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin:0;
    background-color: #222244;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.main{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    color:#FFF;
}
.countdown{
    flex-direction: row;
    margin:0;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.card {
    display: flex;
    background-color:#FFF ;
    border-radius: 20px;
    justify-content:center;
    align-items:center;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    height: 130px;
    width: 130px;
    transition: ease 2s;
    margin: 0 2%;
}
