body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    margin:0;
    align-items:center;
    justify-content: center;
    background-color: #222244;
}


div {
    display: flex;
    background-color:#ccc ;
    border-radius: 20px;
    justify-content:center;
    align-items:center;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    height: 130px;
    width: 130px;
    transition: ease 2s;
    margin: 0 2%;
}

.max{
    margin-Bottom:20px;
    background-Color:green;

}
.min{
    margin-Bottom:0px;
    background-Color:#ccc;
}

input {
    background-color: rgba(0, 0, 0, 0);
    font-size: large;
    height: 40px;
    width: 40px;
    border: none;
    margin: 0 ;
    justify-items:center;

}

input:focus {
    outline:  none;
    background-color:rgba(0, 0, 0, 0.1);
}

