body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin:0;
    background-color: #FFFFFF;
    display: flex;
    align-items:center;
    flex-direction: column;
}
main{
    max-width:850px ;
    margin: auto;
    padding-bottom: 200px;
}

header{
    color: #FFFFFF;
    height: 70px;
    width: 100%;
    background-color: orange;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
header a{
    color: #FFFFFF;
    margin-right: 20px;
}

#inicio{
    flex-direction: column;
    display: flex;
    align-items: center;
}
#perfil{
    height: 400px;
    border-radius: 100%;
    max-width: 100%;
    aspect-ratio: 1;
}

#galeria{
    display: flex;
    flex-wrap: wrap;
}
.exp{
    position: relative;
    border: 0;
    min-width: 40%;
    max-width: 100%;
    aspect-ratio: 1;
    margin: 2px 4px;
    border-radius: 20px;
    flex-basis:200px;
    flex-grow:1;
    overflow: hidden;
}

#doble{
    aspect-ratio:2;
    flex-grow:1;
}

#doble::after{
    margin-top:-50%;
}
.exp img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.exp::after{
    color: #000;
    position: absolute;
    content: attr(data-content);
    width:0px;
    text-align: center;
    padding-top: 80%;
    font-size: 50px;
    margin-left: -70%;
    margin-top: -10%;
    z-index: 1;
    opacity: 0;
    color: #FFFFFF;
}

.exp:hover::after{
    opacity: 1;
}

.exp:hover img{
    filter: blur(4px);
    transform: scale(1.4);

}

label{
    width: 100%;
}
input{
    border-radius: 10px;
    border-color: orange;
    width: 100%;
    height: 30px;
}
#msg{
    height:210px ;
}

button{
    width: 100%;
    background-color: orange;
    color: #FFFFFF;
    border-radius: 10px;
    height: 30px;
    border: none;
    margin-top: 20px;
}
:root{
    scroll-behavior: smooth;
}