body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:center;
    height: 100vh;
    margin:0;
    align-items: center;
    background-color: cadetblue;
}

.card {
    background-color:#fff ;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 40%;
}

input {
    height: 30px;
    width:95%;
    margin-bottom:10px ;
}

#bloc{
    height: 10rem;
    text-align: start;
}

#clear{
    background-color: red;
    width:20% ;
    color: #fff;
}